/*
Error: Inconsistent indentation: 9 spaces were used for indentation, but the rest of the document was indented using 4 spaces.
        on line 6 of client/sass/fonts.sass

1: @font-face {
2:     font-family: 'Open Sans';
3:     font-weight: 'light';
4:     src: url('opensans-light-webfont.eot');
5:     src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
6:          url('opensans-light-webfont.woff2') format('woff2'),
7:          url('opensans-light-webfont.woff') format('woff'),
8:          url('opensans-light-webfont.ttf') format('truetype'),
9:          url('opensans-light-webfont.svg#open_sanslight') format('svg');
10:     font-weight: normal;
11:     font-style: normal;

Backtrace:
client/sass/fonts.sass:6
/Users/jake/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.4.3/lib/sass/engine.rb:473:in `block in tabulate'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.4.3/lib/sass/engine.rb:431:in `each'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.4.3/lib/sass/engine.rb:431:in `each_with_index'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.4.3/lib/sass/engine.rb:431:in `tabulate'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.4.3/lib/sass/engine.rb:396:in `_to_tree'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.4.3/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.4.3/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.4.3/lib/sass/exec/sass_scss.rb:375:in `run'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.4.3/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.4.3/lib/sass/exec/base.rb:40:in `parse'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.4.3/lib/sass/exec/base.rb:19:in `parse!'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.4.3/bin/sass:13:in `<top (required)>'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/bin/sass:23:in `load'
/Users/jake/.rvm/gems/ruby-1.9.3-p448/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 9 spaces were used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 6 of client/sass/fonts.sass\A \A 1: @font-face {\A 2:     font-family: 'Open Sans';\A 3:     font-weight: 'light';\A 4:     src: url('opensans-light-webfont.eot');\A 5:     src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),\A 6:          url('opensans-light-webfont.woff2') format('woff2'),\A 7:          url('opensans-light-webfont.woff') format('woff'),\A 8:          url('opensans-light-webfont.ttf') format('truetype'),\A 9:          url('opensans-light-webfont.svg#open_sanslight') format('svg');\A 10:     font-weight: normal;\A 11:     font-style: normal;"; }
