<audio ng-src="{{ currentSong.stream_url || '' }}" autoplay></audio>
<div class="controls">
    <button class="control" ng-click="previous()"><img src="/img/rewind.svg" alt="Previous"></button>
    <button class="control" ng-click="togglePlayback()"><img ng-src="/img/{{ isPlaying ? 'pause' : 'play' }}.svg" alt="{{ isPlaying ? 'Pause' : 'Play' }}"></button>
    <button class="control" ng-click="next()" ng-disabled="currentSongIndex + 1 === songs.length"><img src="/img/forward.svg" alt="Next"></button>
</div>
<div class="info">
    <img class="song-artwork" ng-src=" {{ currentSong.artwork_url || '' }}" alt="{{ currentSong.title }}" ng-hide="!currentSong">
    <span class="song-artist">{{ currentSong.user.username }}</span>
    <h1 class="song-title">{{ currentSong.title }}</h1>
</div>
<a class="poweredby" target="_blank" href="{{ currentSong.user.permalink_url }}"><img class="soundcloud" src="/img/soundcloud.svg" alt="powered by SoundCloud"></a>
