<li class="song-poster js-song-poster js-{{ song.id }}" ng-class="{playing: currentSong.id === song.id}" ng-click="toggleSong(song)" ng-model="song" ng-repeat="song in songs">
    <img class="toggle" ng-src="/img/{{ isPlaying && currentSong.id === song.id ? 'pause' : 'play' }}.svg" alt="{{ isPlaying && currentSong.id === song.id ? 'Pause' : 'Play' }}">
    <canvas class="spectrum js-spectrum"></canvas>
    <img class="song-artwork" ng-src="{{ song.artwork_url || '' }}" alt="{{ song.title }}">
</li>
